body {
    background-color: white;
    overflow: hidden;
}

div.center {
    height: 97dvh;
    width: 100dvw;
    display: flex;
    align-items: center;
    justify-content: center;
}

div#imgs {
    width: 166dvw;
    height: 100dvh;
    position: relative;
    display: flex;
    align-items: flex-end;
    left: -33.3dvw;
    top: -97.5dvh;
    filter: blur(5px) brightness(70%) contrast(80%) saturate(70%);
    transition: transform 5s ease-in-out, filter 5s ease-in-out, width 5s ease-in-out;
}

div.container {
    border:5px solid black;
    width: 100%;
}

div.column {
    align-self: flex-end;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    width: 20%;
    transition: transform 5s linear;
    z-index : 0;
}

div.columnR {
    align-self: flex-start;
    width: 20%;
    transition: transform 5s linear;
    z-index : 0;
}

div.columnRhidden {
    align-self: flex-start;
    width: 20%;
    transition: transform 5s linear;
    z-index : 0;
}

img.picture {
    max-height: 100%;
    width: 100%;
    user-select: none;
    object-fit: fill;
}

button#enter {
    position: absolute;
    font-family: limelight, "serif";
    font-size: 130px;
    transition: transform 5s ease-in-out;
    background: none;
    border: none;
    z-index: 5;
    text-shadow: 0px 0px 8px white;
}

button#enter:hover {
    transform: scale(1.5, 3);
    cursor: pointer;
}

button#X{
    font-size: 130px;
    background: none;
    border: 3px solid black;
    align-self: flex-start;
    transition: transform 0.5s ease-in-out;
    text-shadow: 0px 0px 8px white;
}

button#X:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.trackContainer {
    display: flex;
	height: 70dvh;
	object-position: 50% center;
	position: relative;
	flex-shrink:0;
    justify-content: center;
    align-items: center;
}

.trackContainer > p {
    font-size: 0px;
    font-family: molle, "serif";
    text-shadow: 0px 0px 8px white;
    position: absolute;
    z-index: 2;
}

.trackContainer:hover > p {
    font-size: 80px;
}

.trackContainer > .image {
	height: 100%;
	object-fit: contain;
    top: 0;
    animation: wiggle-kf 0.5s forwards paused;
}

#button-track{
    position: relative;
    z-index : 2;
    display : flex;
    grid-gap: 15px;
    align-self: left;
    user-select: none;
    transition: transform 5s ease-in-out;
    cursor: pointer;
}

#pausedTrack{
    position: relative;
    z-index : 2;
    display : flex;
    grid-gap: 15px;
    align-self: left;
    user-select: none;
    transition: transform 1s ease-in-out;
}

#trackInside{
    position: absolute;
    top: 10%;
    left: 100vw;
    justify-content: center;
}

@keyframes wiggle-kf {
    0% {
        scale: 1;
        rotate: 0deg;
    }
    20% {
        scale: 1.02;
        rotate: -4deg;
    }
    40%{
        scale: 1.04;
        rotate: 6deg;
    }
    60%{
        scale: 1.05;
        rotate: -8deg;
    }
    80%{
        scale: 1.03;
        rotate: 6deg;
    }
    100%{
        scale: 1;
        rotate: 0deg;
    }
}

@font-face{
    font-family: limelight;
    src: url("fonts/Limelight/Limelight-Regular.ttf");
}

@font-face{
    font-family: molle;
    src: url(fonts/Molle/Molle-Italic.ttf);
}

